.homeBackground{
    background-image: url("../images/backgrounds/h_img.jpg");
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.homeBackgroundText{
    color: white;
    text-align: center;
    margin-top: 200px;
    font-style: bold;
}
.mouseClick{
    margin-top: 100px;;
}
.aboutUsSection{
    height: auto;
    width: auto;
    text-align: center;
    padding:50px;
}
.servicesSection{
    background-image: url("../images/backgrounds/s_image.jpg");
    height: auto;
    width: auto;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 100px;
}
.whatWedDoSection{
    height: auto;
    width: auto;
    text-align: center;
}
.whatWedDoSectionHead{
    text-align: center;
    padding: 30px;
}
.whatWeDoText1,.whatWeDoText2,.whatWeDoText3{
    display: none;
}
.portfolioSection{
    height: auto;
    width: auto;
    text-align: center;
}
.gallery {
    width: 25em;
    margin: 2em auto;
}
.gallery-item {
    height: auto;
    width: 48.618784527%;
    float: left;
    margin-bottom: 2em;
    position: relative;
}
.gallery-item:first-child {
    margin-right: 2.762430939%;
}
.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none; 
    background-color: white;
    opacity: 0.5;
}
.img-title h5 {
    position: absolute;
    color: black;
    top: 33%;
    width: 100%;
    text-align: center;
    font-weight: 20px;
}

.portfolioImage{
    height: 200px;
    width: auto;
}
.contactUsSection{
    height: auto;
    width: auto;
    background-image: url("../images/backgrounds/c_image.jpg");
    color: white;
    text-align: center;
    padding: 100px;
    padding-bottom: 150px;
}
.transparent-input{
        background-color:rgba(0,0,0,0) !important;
        color: white;
}
.form-control::-webkit-input-placeholder {
    color: white;
  }
.socialIcons{
    height: auto;
    width: auto;
    text-align: center;
    padding:50px;
    padding-bottom: 10px;
}